
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fceff9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.top-frame {
  height: 15%;
  background-color: black;
}
.top-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.bottom-frame {
  flex: 1;
}
.bottom-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.content {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}



.student-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  max-width: 1200px;
  width: 100%;
}

.student-list li {
  border: 1px solid #ddd;
  background: #FFEFD5;
  padding: 10px;
  text-align: center;
  flex: 1 1 200px;  
  box-sizing: border-box;
  border-radius: 5px;
}

.student-list li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.student-list .highlight {
  background: yellow;
  font-weight: bold;
}




/* screens ≤360px (mobile) */
@media (max-width: 360px) {
  body {
    font-size: 10px;
    padding: 3px;
  }

  .top-frame {
    height: 22%;   
  }

  .bottom-frame {
    height: 78%;
  }

  .content {
    font-size: 10px;
    padding: 10px;
    margin: 5px;
  }

  .student-list {
    gap: 1px;
  }

  .student-list li {
    flex: 1 1 100%;
    padding: 1px;
  }

}


/* screens ≤768px (tablet) */
@media (max-width: 768px) {

  body {
    font-size: 11px;
    padding: 1px;
  }

  .top-frame {
    height: 15%;   
  }

  .bottom-frame {
    height: 85%;
  }

  .content {
    font-size: 12px;
    padding: 15px;
    margin: 10px;
  }

  .student-list li {
    flex: 1 1 11%;
    font-size: 11px;
    margin: 1px;
  }

}


/* screens ≥769px (notebooks/desktops) */
@media (min-width: 769px) {

  body {
    font-size: 12px;
  }

  .top-frame {
    height: 15%;
  }

  .bottom-frame {
    height: 85%;
  }

  .content {
    font-size: 13px;
    padding: 30px;
  }

  .student-list li {
    flex: 1 1 140px;
    font-size: 13px;
  }


}




