
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fceff9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.top-frame {
  height: 15%;
  background-color: black;
}
.top-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.bottom-frame {
  flex: 1;
}
.bottom-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.content {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}



.studentlist-header {
  text-align: center;
  background: #000;
  padding: 10px;
}

.student-table {
  width: 100%;
  overflow-x: auto;  
  margin: 20px auto;
}

.student-table table {
  width: 100%;
  border-collapse: collapse;
  background: #FFEFD5;
}

.student-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.student-table a {
  text-decoration: none;
  color: #000;
}

.student-table .highlight {
  background-color: yellow;
  font-weight: bold;
}




/* screens ≤768px (mobile) */
@media (max-width: 768px) {

  body {
    font-size: 14px;
    padding: 5px;
  }

  .top-frame {
    height: 20%;   /* taller header for smaller screens */
  }

  .bottom-frame {
    height: 80%;
  }

  .content {
    font-size: 14px;
    padding: 15px;
    margin: 10px;
  }

}


/* screens ≥768px (notebooks/desktops) */
@media (min-width: 769px) {

  body {
    font-size: 16px;
  }

  .top-frame {
    height: 15%;
  }

  .bottom-frame {
    height: 85%;
  }

  .content {
    font-size: 16px;
    padding: 30px;
  }

}

